/* OVERRIDE del default azul de boton activo de bootstrap, reemplazado por un verde transparente */
.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
    color: #fff;
    background-color: darkolivegreen;
}

.lila {
    color: violet;
}

/* OVERRIDE de la fuente de bootstrap para que sea Tahoma, la fuente que usa el L2 
p,
ul,
table {
    font-family: Tahoma;
    font-size: 14px;
    font-style: normal;
    font-variant: normal;
    font-weight: 400;
    line-height: 20px;
} */

.blacky {
    color: black;
}


#myBtn {
    display: none;
    position: fixed;
    bottom: 10px;
    right: 10px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: transparent;
    cursor: pointer;
    padding: 15px;
    opacity: 0.6;

    /* https://stackoverflow.com/a/11681331 */

    -webkit-animation: fadein 1s;
    /* Safari, Chrome and Opera > 12.1 */
    -moz-animation: fadein 1s;
    /* Firefox < 16 */
    -ms-animation: fadein 1s;
    /* Internet Explorer */
    -o-animation: fadein 1s;
    /* Opera < 12.1 */
    animation: fadein 1s;
}

@keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
    }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
    }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
    }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
    }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from {
        opacity: 0;
    }

    to {
        opacity: 0.6;
    }
}

/*scrollbar w3*/
/* width */
::-webkit-scrollbar {
    width: 15px;
    opacity: 0.5;
}

/* Track */
::-webkit-scrollbar-track {
    background: #f1f1f1;
    opacity: 0.5;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: #888;
    opacity: 0.5;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
    opacity: 0.5;
}
